# Ignore the virtual environment
venv_name/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VSCode settings (if using VSCode)
.vscode/

# Ignore environment variables and config
.env
*.env

# Ignore logs and output
*.log

